# واجهة المستخدم والمظهر الاحترافي
streamlit

# الاتصال بالإنترنت وجلب بيانات Google Scholar
requests
beautifulsoup4

# معالجة ملفات الأبحاث والـ PDFs المستخرجة
pypdf
pdfplumber

# الذكاء الاصطناعي وصياغة الأبحاث (RAG)
openai
langchain
langchain-community
python-dotenv

# إنشاء وتصدير البحث النهائي بصيغة Word
python-docx
google-generativeai
